version: '3.8'

services:
  web:
    build: .
    command: >
      sh -c "python manage.py migrate --noinput &&
             python migrate_data.py &&
             python manage.py collectstatic --noinput &&
             python manage.py runserver 0.0.0.0:6767"
    volumes:
      - .:/app
      - media_volume:/app/media
    ports:
      - "6767:6767"
    env_file:
      - .env
    environment:
      PYTHONUNBUFFERED: "1"
    depends_on:
      postgres:
        condition: service_healthy  # Ждем, пока PostgreSQL будет готов
    networks:
      - app-network

  postgres:
    image: postgres:15-alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_INITDB_ARGS: "--encoding=UTF-8 --lc-collate=C --lc-ctype=C"
    healthcheck:  # Healthcheck для проверки готовности БД
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - app-network

volumes:
  postgres_data:
  media_volume:

networks:
  app-network:
    driver: bridge